:root{
  --app-gold: #FFBC00;
  --light-gray: #565959
}

#productDetailContainer {
  display: flex;
  margin-left: 140px;
  margin-right: 140px;
  background-color: white;
  border-bottom: 1px solid #565959;
  padding-bottom: 50px;
}

#productDetailsInner{
  /* display: flex; */
  /* flex-direction: column; */
  margin-left: 30px;
  padding-top: 40px;
  padding-bottom: 80px;
  /* padding-right: 360px; */
}

#topAvgRevs{
  display: flex;
  align-items: center;
}


#productDetailsName{
  font-size: 32px;
  margin: 10px 10px 10px 0px;
}

#productDetailsPrice{
  font-size: 18px;
  margin: 10px 10px 10px 0px;
}

#productDetailPriceSpan{
  font-size: 14px;
}

#productDetailsInStock{
  margin: 10px 10px 10px 0px;
}

#productDetailsDescription{
  margin: 10px 70px 10px 0px;
  letter-spacing: .5px;
  width: 680px;
  word-wrap: break-word;
}

#productCheckoutContainer {
  border: 1px solid lightgray;
  margin-top: 3rem;
  padding: 1rem;
  margin-right: 1rem;
  width: 16rem;
}

.returnDiv{
  color: #007185;
  font-size: 14px;
}

.returnDiv:hover{
  cursor: pointer;
  color: var(--app-gold);
}

.return-dropdown{
  position: absolute;
  background-color: white;
  border: 1px solid lightgray;
  right: 12rem;
  top: 280px;
  color: black;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 5px;
  width: 14rem;
  box-shadow: 1px 1px 1px 1px gray;
}

.return-dropdown > div:first-child{
  font-weight: bold;
}

.deliveryAnnouncement{
  padding-top: 1.5rem;
}

.deliveringMessage{
  color: #007185;
  font-size: 14px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.checkoutInStock{
  font-size: 18px;
  color: #007600;
}

.quantitySelect>label{
  position: relative;
  top: 1.44rem;
  left: .5rem;
  font-size: 13px;
}

.quantitySelect>label:hover{
  cursor: pointer;
}

.productCheckoutBtnsContainer{
  width: auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addToCartBtn{
  width: 100%;
  background-color: #FFD814;
  margin-top: 1rem;
  border-radius: 20px;
  /* text-align: center; */
  padding: .5rem .8rem;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.addToCartBtn:hover{
  background-color: #F7CA00;
  cursor: pointer;

}
.buyNowBtn{
  width: 100%;
  background-color: #FFA41C;
  margin-top: 1rem;
  border-radius: 20px;
  /* text-align: center; */
  padding: .5rem .8rem;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.buyNowBtn:hover{
  background-color: #FA8900;
  cursor: pointer;
}

#quantityMenu{
  width: 180px;
  /* text-align: center; */
  padding-left: 4rem;
  height: 1.8rem;
  border-radius: 5px;
  font-size: 13px;
  background-color: #f0f2f2;
  box-shadow: 0 0 10px #f0f2f2;
  box-shadow: 2px 2px 2px 2px #e0e0e0;
}

#quantityMenu:hover{
  cursor: pointer;
  background-color:  rgb(231, 231, 231);
}

.productCheckoutBottom{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: .15rem;
  width: 100%;
  
  /* height: min-content; */
}

.productCheckoutBottomLeft{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  line-height: 12px;
}

.productCheckoutBottomRight{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  line-height: 12px
}

.productCheckoutBottomLeft > p {
  font-size: 12px;
  margin: 0;
  color: var(--light-gray);
}

.productCheckoutBottomRight > p {
  margin: 0;
  font-size: 12px;
  /* color: var(--light-gray); */
}


/* REVIEWS */
#reviewsSection{
  display: grid;
  grid-template-columns: 540px 1fr;
  column-gap: 30px;
  /* justify-content: space-between; */
  margin-left: 140px;
  margin-right: 140px;
  background-color: white;
  padding: 60px;
}

#reviewSectionStars{
  display: flex;
  margin-bottom: 10px;
}

#reviewSectionLeft{
  border-bottom: 1px solid black;
  width: 540px;
}

#reviewSectionLeftHeader{
  font-size: 21px;
  font-weight: bold;
}

#globalRatings{
  /* line-height: 20px; */
  color: #565959;
  font-size: 14px;
}

#revPromptLeft{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

#revPromptL2{
  margin-bottom: 10px;
  font-size: 14px;
}

.revSec4{
  /* height: 500px; */
  /* width: 4000px; */
  position: relative;
  /* height: 32px; */
  width: 100px;
  right: 4px;
  background-position: 0px -346px;
}

.revSecAvg{
  position: relative;
  left: 100px;
}

#productReviewsSection{
  /* font-size: 16px; */
  width: 680px;
}

#reviewText{
  /* text-overflow: hidden; */
  /* width: 680px; */
  word-wrap: break-word;
}

#revBtnContainer{
  margin-top: 5px;
}

#postRevBtn{
  font-size: 13px;
  width: 300px;
  border: 1px solid lightgray;
  height: 30px;
  padding: 3px;
  border-radius: 7px;
  background: white;
  box-shadow: 2px 2px 2px 2px lightgray;
  margin-bottom: 40px;
}

#postRevBtn:hover{
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

#editRevBtn{
  font-size: 12px;
  width: 80px;
  border: 1px solid lightgray;
  /* box-shadow:; */
  padding: 3px;
  border-radius: 7px;
  background: white;
  box-shadow: 2px 2px 2px 2px lightgray;
  margin-right: 2px;
}

#deleteRevBtn{
  font-size: 12px;
  width: 80px;
  border: 1px solid lightgray;
  /* box-shadow:; */
  padding: 3px;
  border-radius: 7px;
  background: white;
  box-shadow: 2px 2px 2px 2px lightgray;
  margin-left: 2px;
}

#editRevBtn:hover{
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

#deleteRevBtn:hover{
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}
