#footerImg{
  width: 100%;
  margin: 0;
  /* margin-top: 170px; */
  margin-top: 100vh;
  position: absolute;
  bottom: 0;
  height: 12.8rem;
}

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 20vh;
}
