body {
  margin: 0;
}

:root{
  --appPurp: #6E3778;
}
.profile-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  right: 107px;
  top: 72px;
  color: black;
}

#accountInfo:hover{
  cursor: pointer;
}

#homeLogo{
  height: 70px;
}

#navHeaderContainer{
  /* margin: 0px 20px 0px 20px; */
  padding-left: 20px;
  padding-right: 40px;
  border-bottom: 1px solid black;
  margin-top: 20px;
  margin: 0;
  margin-bottom: 20px;
  background-color: var(--appPurp);
  color: white;
  padding-top: 1px;
}

#navHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navHeader>li {
  text-decoration: none;
  list-style: none;
}

#downArrow{
  margin: 3px 0 0 5px;
  color: #A7ACB2;
  /* align-items: center; */
}

#accountInfo{
  padding-right: 100px;
}

#manageLink{
  text-decoration: none;
  color: black;
}

#manageLink:hover{
  cursor: pointer;
  color: #6E3778;
  text-decoration: underline;
}

#CreateNewMallow:hover{
  cursor: pointer;
  color: #6E3778;
  text-decoration: underline;
}

#logoutBtn:hover{
  cursor: pointer;
}
