
#uploadImgContainer{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  /* margin-bottom: .8em; */
  position: relative; /* This allows the elements within it to be positioned without taking this element out of the document flow. As it's parent is NOT positioned, it only effects the children. */
  /* margin-bottom: 32px; */
}


.imgUpload{
  /* position: absolute; */
  /* top: 30px; */
  /* display: block; */
  /* position: relative; */
  top: 10px;
  font-size: 14px;
  border: 1px solid black;
  /* border: 1px solid #ccc; */
  /* display: inline-block; */
  /* padding: 6px 12px; */
  cursor: pointer;
  width: max-content;
  height: min-content;
  background-color: rgb(173, 56, 173);
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 7px;
}

#thumbnailContainer{
  min-height: 62px;
}

#thumbnailImg{
  position: relative;
  /* left: 110px; */
  /* bottom: 27px; */
  top: 0px;
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border: 6px;
  margin-top: 2px;

}

#noThumbnail{
  margin-top: 2px;
  position: relative;
  /* left: 110px; */
  /* bottom: 27px; */
  display: flex;
  align-items: center;
  top: 0px;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  font-size: 11px;
  text-align: center;

}

#fileName{
  max-height: 11px;
  font-size: 11px;
  position: absolute;
  left: 170px;
  bottom: 15px;
}

input[type=file] {
  display: none;
}
/* #fileUpload{  does the same as above but leaves the space
  visibility: hidden;
} */

#nameInputContainer{
  display: flex;
  flex-direction: column;
  margin-top: .3em;
  margin-bottom: .3em;
}

#descInputContainer{
  display: flex;
  flex-direction: column;
  margin-top: .8em;
  margin-bottom: .3em;
}

#priceInputContainer{
  display: flex;
  flex-direction: column;
  /* margin-top: .3em; */
  margin-bottom: .3em;
}
#priceInputContainer > label{
  position: relative;
  top: 17px;
}

#dollarSpan{
  position: relative;
  left: -.7em;
  top: 1.22em;
  width: min-content;
}
